<div class="page">
  <div class="members">
    <div class="side-tag"></div>
    <div class="member"><%= link_to "末吉", "#", class:"person" %></div>
    <div class="member"><%= link_to "田村", "#", class:"person" %></div>
    <div class="member"><%= link_to "濱田", "#", class:"person" %></div>
    <div class="member"><%= link_to "山口", "#", class:"person" %></div>
  </div>

  <div class="records" id="records">
    <%# <div class="record" id="record">
      <div class="point"></div>
      <div class="liquidation"></div>
    </div> %>
    <div class="add-record">
      <%= link_to "勝負を追加",  new_record_path, id:"add-battle", class:"add-battle" %>
    </div>
  </div>

  <div class="totals">
    <div class="total">合計</div>
    <div class="average">平均順位</div>
  </div>
</div>