<div class="page">
  <div class="r-index">
    <div class="page-title-text"><%= @room.date %>　<%= @room.number %>部屋</div>
    <div class="back-page"><%= link_to "最初に戻る", root_path, class:"back" %></div>
  </div>

  <div class="members">
    <div class="side-tag"></div>
    <div class="member"><%= link_to "末吉", "#", class:"person" %></div>
    <div class="member"><%= link_to "田村", "#", class:"person" %></div>
    <div class="member"><%= link_to "濱田", "#", class:"person" %></div>
    <div class="member"><%= link_to "山口", "#", class:"person" %></div>
  </div>

  <div class="r-records">
    <%# ↓ここを繰り返す %>
    <% unless @sueyoshis.empty? %>
      <% @sueyoshis.each do |sueyoshi| %>
        <div class="r-record">
          <div class="r-top-bar">
            <div class="side-tag"><%= sueyoshi.turn %>半荘目</div>
            <div class="member point num"><span class="<%= "red" if sueyoshi.s_point < 0 %>"><%= sueyoshi.s_point %></span></div>
            <div class="member point num"><span class="<%= "red" if Tamura.find(sueyoshi.id).t_point < 0 %>"><%= Tamura.find(sueyoshi.id).t_point %></span></div>
            <div class="member point num"><span class="<%= "red" if Hamada.find(sueyoshi.id).h_point < 0 %>"><%= Hamada.find(sueyoshi.id).h_point %></span></div>
            <div class="member point num"><span class="<%= "red" if Yamaguchi.find(sueyoshi.id).y_point < 0 %>"><%= Yamaguchi.find(sueyoshi.id).y_point %></span></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# ↑ここまで繰り返す %>
  </div>

  <div class="r-results">
    <div class="result total">
      <div class="side-tag">合計</div>
      <div class="member num"><span class="<%= "red" if @s_today_total < 0 %>"><%= @s_today_total %></span></div>
      <div class="member num"><span class="<%= "red" if @t_today_total < 0 %>"><%= @t_today_total %></span></div>
      <div class="member num"><span class="<%= "red" if @h_today_total < 0 %>"><%= @h_today_total %></span></div>
      <div class="member num"><span class="<%= "red" if @y_today_total < 0 %>"><%= @y_today_total %></span></div>
    </div>
  </div>

  <div class="add">
    <div class="add-record">
      <%= link_to "半荘の結果を入力",  new_room_record_path, id:"add-battle", class:"add-battle" %>
    </div>
  </div>
</div>