<div class="page">
  <div class="page-title">
    <div class="page-title-text">１半荘目の結果</div>
    <div class="back-page"><%= link_to "#{@room.date}の一覧に戻る", room_records_path(@room.id), class:"back" %></div>
  </div>

  <div class="members">
    <div class="side-tag"></div>
    <div class="member"><%= link_to "末吉", "#", class:"person" %></div>
    <div class="member"><%= link_to "田村", "#", class:"person" %></div>
    <div class="member"><%= link_to "濱田", "#", class:"person" %></div>
    <div class="member"><%= link_to "山口", "#", class:"person" %></div>
  </div>

  <%= form_with class:"record-form", id:"record-form", local: true do |f| %>
    <div class="record-boxes">
      <div class="top-bar">
        <div class="tag-title">点数</div>
        <div class="member point"><%= f.text_field :s_point, class:"point-box", id:"s-point", autofocus: true %></div>
        <div class="member point"><%= f.text_field :t_point, class:"point-box", id:"t-point" %></div>
        <div class="member point"><%= f.text_field :h_point, class:"point-box", id:"h-point" %></div>
        <div class="member point"><%= f.text_field :y_point, class:"point-box", id:"y-point" %></div>
      </div>
      <div class="under-bar">
        <div class="tag-title">順位</div>
        <div class="member point numb"><span class="rank" id="s-rank">1</span>位</div>
        <div class="member point numb"><span class="rank" id="t-rank">1</span>位</div>
        <div class="member point numb"><span class="rank" id="h-rank">1</span>位</div>
        <div class="member point numb"><span class="rank" id="y-rank">1</span>位</div>
      </div>
    </div>
    <div class="form record-submit">
      <div class="content"><%= f.submit "この半荘の結果を登録", class:"submit" %></div>
    </div>
    <%= f.text_field :s_rank, class:"rank-box", id:"s-rank-box" %>
    <%= f.text_field :t_rank, class:"rank-box", id:"t-rank-box" %>
    <%= f.text_field :h_rank, class:"rank-box", id:"h-rank-box" %>
    <%= f.text_field :y_rank, class:"rank-box", id:"y-rank-box" %>
  <% end %>
</div>